<h3 id="byValueByReference">What is pass by value and pass by reference?</h3>
<ul>
    <li>
        <b>Pass By Value</b> & <b>Pass by Reference</b> Arguments
        <ul>
            <li>
                primitive types are value types - <b>stores the value within itself</b>
                <br>a value type is stored in the stack memory
                <br><img src="../resources/media/png/primitive-type.png" alt="">
                <br>the first initialization of <b>a</b> is at memory address [0x12121], storing the value [30]
                <br>the second assignment of value is to address [0x12127], storing the value [70]
            </li>
            <br>
            <li>
                object types are reference types - <b>stores a reference or a memory address within</b>
                <br>a reference type is stored in the heap memory
                <br>the stack memory stores a reference to the object stored in the heap memory
                <br><img src="../resources/media/png/reference-type.png" alt="">
                <br>the 'obj1' is not storing the value, but a reference to the address storing the value
            </li>
        </ul>
    </li>
</ul>