<html>

<head></head>

<body>
    <h3 id="introJS">Introduction to JavaScript</h3>
    <ul>
        <li>
            What is it?
            <ul>
                <li>
                    a programming language for web
                </li>
                <li>
                    usually is embedded in html code to make static Web pages more interactive or dynamic
                </li>
                <li>
                    can be written in a .js script file, or embedded inside .html files
                </li>
                <li>
                    JS is designed to be run by the browser when is attached to html documents being displayed
                </li>
            </ul>
        </li>
        <li>
            Where to use?
            <ul>
                <li>
                    JS can be used as a client-side programming language, and as a server-side programming language(with
                    node.js)
                </li>
                <li>
                    JS is also called <i>Vanilla JavaScript</i>, referring to <b>plain JavaScript</b>, without any
                    additional libraries like jQuery
                </li>
            </ul>
        </li>
        <li>
            Pros os knowing JS
            <ul>
                <li>
                    JS is at the top of the most popular technologies
                </li>
                <li>
                    JS is used by many frameworks and libraries built on Vanilla JavaScript, like Angular, React, Node,
                    jQuery, ...
                </li>
                <li>
                    Js is one of the three core technologies of web design&development along HTML and CSS
                </li>
            </ul>
        </li>
        <li>
            What can JS do?
            <ul>
                <li>
                    dynamic interaction
                </li>
                <li>
                    add business logic
                </li>
                <li>
                    connect to other applications across Internet
                </li>
                <li>
                    dynamically adding/removing/changing content to a web page
                </li>
                <li>
                    add animation
                </li>
                <li>
                    form validation
                </li>
                <li>
                    ...
                </li>
            </ul>
        </li>
        <li>
            Limitations
            <ul>
                <li>
                    client-side JS does not allow read/write files on the disk, copy them, or execute programs
                </li>
                <li>
                    <i>Same Origin Policy</i> - JS from one page may not access other pages is they come from different
                    sites, domain, protocol or port
                </li>
                <li>
                    JS is a singled threaded programming language - no multi-threading capabilities
                </li>
            </ul>
            Obs: the limitations are mostly for user protection - preventing a webpage from accessing private
            information or harming user's data - these limitations does not exist for server-side js
        </li>
    </ul>
    <hr>
</body>

</html>