<h3 id="jsOperators">JavaScript Operators</h3>
<ul>
    <li>
        Arithmetic Operators
        <ul>
            <li>
                + - addition
            </li>
            <li>
                - - subtraction
            </li>
            <li>
                * - multiplication
            </li>
            <li>
                / - division
            </li>
            <li>
                % - modulus 9 % 2 => 1
            </li>
            <li>
                ** - exponential 2 ** 3 => 8
            </li>
            <li>
                10 * true = 10<br> 10 / false=Infinity
            </li>
            <li>
                10 + '10' = 20<br> 10 + 'F15' = '10F15'
            </li>
            <li>
                10 + true = 11 <br>10 + false = 10
            </li>
            <li>
                10 + null = 10 <br>10 + undefined = NaN
            </li>
        </ul>
    </li>
    <li>
        JS Basic Operators
        <ul>
            <li>
                Assignment <b>=</b>
                <ul>
                    Shorthand assignment notation
                    <li>
                        x *= x => x = x * x <br> x += x => x = x + x <br> ...
                    </li>
                </ul>
            </li>
            <li>
                Increment / Decrement Operators
                <ul>
                    <li>
                        postfix notation - the value is returned, and then apply the operator
                        <ul>
                            <li>
                                x++ => x = x + 1
                            </li>
                            <li>
                                x-- => x = x - 1
                            </li>
                        </ul>
                    </li>

                    <li>
                        prefix notation - the operator is applied, and then returned the new value
                        <ul>
                            <li>
                                --x
                            </li>
                            <li>
                                ++x
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                Coma operator -
                <ul>
                    <li>
                        allows programmers to evaluate multiple expressions, and return the result of the last
                        expression <br>
                        <b>(a = 7, b = 3, a = b * a, a + b)</b> will return <b>24</b>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>