<html>

<head>

</head>

<body>
    <h3 id="useStrict">Using 'use strict' statement</h3>
    <ul>
        <li>
            it will signal syntax and other errors, when running the script <br>
            <img src="resources/media/png/use-strict.png" height="280" width="680">
        </li>
        <li>
            a function is a value in JS, so it can be assigned to a variable as a value - it is called <b>function
                expression</b>
            <pre>
    <code>
        let greet = function(name) {
            console.log('Hello, ' + name + '!');
        }

        greet('John');
    </code>
</pre>
            Obs: a function expression/statement can not be invoked before the function expression line, while a
            function declaration can

        </li>
    </ul>
    <hr>
</body>

</html>